
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
@import url('https://fonts.cdnfonts.com/css/open-sans');
@import url('https://fonts.cdnfonts.com/css/source-sans-pro');

body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
	font-weight: 800;
    background: rgb(31, 31, 31);

}

.nav-container {
	margin: 0 auto;
    overflow: hidden;
    max-height: 70px;
}

header {
    background: rgb(39, 39, 39);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0; 
    z-index: 10; 
    overflow: hidden;
    

}

header::after {
    content: '';
    display: table;
    clear: both;
}

header h1{
    margin-right: 60px;
    margin-left: 40px;
    color:white;
    font-size: 20px;
    
}

.github-logo{
    float: right;
    height: 40px;
    margin-left: 0px;
    margin: 14px;
    margin-right: 20px;
    
}

.logo {
    float: left;
    padding: 10px 0;
}



nav {
    height: 60px; 
    float: left;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
}

nav li {
    display: inline-block;
    margin-right: 40px;
    position: relative;
    height: 100%;
}

nav a {
    color: #e1e1e1;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
}

nav a:hover {
    color: #ffffff;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: #ffffff;
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}


main {
    font-family: "Source Sans Pro", sans-serif;
    color: #e2e2e2;
    max-width: 1500px; 
    margin: 0 auto; 
    box-sizing: border-box;
    background: rgb(31, 31, 31);
    transform: scale(0.9); 
}

.main-container {
    padding-left: 10px;
    padding-right: 10px;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
   
}

.web-explanation{
    width: 35%;
    padding: 50px;
    padding-top: 20px;

}


.content-title{ 
    text-align: left;
}

.content-title h1{
    color: rgb(255, 197, 70);
}

.content-subtitle{
    text-align: left;
}

.content-description{
    text-align: left;

}

main h4{
    font-family: "Open Sans Light", sans-serif;
    color: rgb(170, 169, 169);
}


.button-container{
    display: flex;
    flex-direction: column;
    
    
}

.button-container section{
    display: flex;
    align-items: center;
}

button-container .span{
    display: inline-block;
}
  
.button {
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
    background: #2f2f2f;
    width: 160px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f0f0f0;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition-duration: 0.3s;
    transition-property: box-shadow, transform;
}

.button:hover, .button:focus, .button:active {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    
}

.first-button:hover + .first-description {
    transition-duration: 0.3s;
    transform: translateX(10px);
}

.second-button:hover + .second-description {
    transition-duration: 0.3s;
    transform: translateX(10px);
}
.main-image{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

main h5{
    font-family: "Open Sans Light", sans-serif;
    color: rgb(170, 169, 169);
}

main h6{
    font-family: "Open Sans Light", sans-serif;
    color: rgb(170, 169, 169);
}


.input-field{
    padding-top: 10px;
    padding-left: 20px;
    transform: scale(0.8);
    transform-origin: left top;
}

.form-container {
    background-color: #333;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.form-container.list {
    max-width: 500px;
}

.form-container.value {
    max-width: 220px;
}

form {
    max-height: 40px;
    padding-left: 8px;
    display: flex;
    align-items: center; 
    justify-content: flex-start;
    padding-right: 8px;
}

form p { 
    font-size: 22px;
    display: inline;
    width: 70px;
}

form input {
    flex:1;
    width: 100%;
    box-sizing: border-box; 
    padding: 15px;
    margin-left: 20px;
    border-radius: 8px;
    border: none;
    background-color: #1f1f1f;
    color: #fff;
    font-size: 16px;
    text-align: start;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
    padding-left: 30px;
}





form input::placeholder {
    color: #888;
}

form input:focus {
    background-color: #2a2a2a;
    box-shadow: 0 0 5px #555;
}


main .page-title h1{
    font-size: 55px;
    margin-top: 15px;
}

main .input-container{
    max-width: 1000px;
}


.button-container.calculate section{
    margin: 0px;
    margin-top: 8px;
}

.button-container.calculate .button{
    margin-left: 0px;
}

.error-message{
    color:#FF6666;
    margin-left: 16px;
}



@media screen and (max-width: 950px) {
    .web-explanation{
        width: 100%;
    }
    
}